<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="aom.maozj.study.dsf.launchConfigurationType"
            modes="debug"
            name="DSF Study">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="aom.maozj.study.dsf.launchConfigurationType"
            icon="icons/launch.png"
            id="aom.maozj.study.dsf.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="aom.maozj.study.dsf.launch.MLaunchConfigurationDelegate"
            id="aom.maozj.study.dsf.launchDelegate"
            modes="debug"
            name="Study DSF Launch Delegate"
            type="aom.maozj.study.dsf.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="aom.maozj.study.dsf.launch.tab.MLaunchConfigurationTabGroup"
            id="aom.maozj.study.dsf.launchConfigurationTabGroup"
            type="aom.maozj.study.dsf.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="aom.maozj.study.dsf.launch.tab.MLaunchConfigurationTab"
            group="aom.maozj.study.dsf.launchConfigurationTabGroup"
            id="aom.maozj.study.dsf.tab"
            name="Main Tab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="aom.maozj.study.dsf.launch.MLaunch"
            class="aom.maozj.study.dsf.MDebugAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.contexts.ISuspendTrigger">
         </adapter>
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory">
         </adapter>
         <adapter
               type="org.eclipse.debug.core.commands.ITerminateHandler">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IConnectHandler">
         </adapter>
         <adapter
               type="org.eclipse.debug.core.commands.IDisconnectHandler">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IDebugNewExecutableHandler">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="aom.maozj.study.dsf.viewmodel.MDebugModelPresentation"
            id="aom.maozj.study.dsf.debugModelPresentation">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="test context"
            id="aom.maozj.study.dsf.context"
            name="test context"
            parentId="org.eclipse.cdt.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoClose="true"
            autoOpen="true"
            contextId="aom.maozj.study.dsf.context"
            viewId="aom.maozj.study.dsf.ui.view.MView">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="aom.maozj.study.dsf.context"
            debugModelId="aom.maozj.study.dsf.debugModelPresentation">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="aom.maozj.study.dsf.ui.view.MView"
            id="aom.maozj.study.dsf.ui.view.MView"
            name="M ViewPart">
      </view>
   </extension>

</plugin>
